@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=serendipity-midnight], [data-theme=serendipity-midnight] *));

@theme inline {
    --font-sans:
        Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono:
        Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-ring: var(--ring);
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/GeistVF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

[data-theme='serendipity-morning'] {
    --background: oklch(0.9943 0.0013 286.38);
    --foreground: oklch(0.28 0.08 233);
    --primary: oklch(0.53 0.16 233);
    --primary-foreground: oklch(0.9943 0.0013 286.38);
    --muted: oklch(0.95 0.01 240);
    --muted-foreground: oklch(0.51 0.12 233);
    --destructive: oklch(0.68 0.14 7);
    --border: oklch(0.87 0.02 230);
    --ring: oklch(0.48 0.18 204);
}

:root {
    --background: oklch(0.9943 0.0013 286.38);
    --foreground: oklch(0.28 0.08 233);
    --primary: oklch(0.53 0.16 233);
    --primary-foreground: oklch(0.9943 0.0013 286.38);
    --muted: oklch(0.95 0.01 240);
    --muted-foreground: oklch(0.51 0.12 233);
    --destructive: oklch(0.68 0.14 7);
    --border: oklch(0.87 0.02 230);
    --ring: oklch(0.48 0.18 204);
}

[data-theme='serendipity-midnight'] {
    --background: oklch(0.257 0.0284 278.31);
    --foreground: oklch(0.9 0.01 233);
    --primary: oklch(0.64 0.14 204);
    --primary-foreground: oklch(0.257 0.0284 278.31);
    --muted: oklch(0.16 0.02 233);
    --muted-foreground: oklch(0.7774 0.0758 266.17);
    --destructive: oklch(0.73 0.13 7);
    --border: oklch(0.26 0.01 233);
    --ring: oklch(0.64 0.14 204);
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-border outline-ring/50 tracking-tight;
    }
}
